h1{
    color: aqua;
}
#myh1{
    font-size: 70px;
}
.header{
    color: aquamarine;
}
.center{
    text-align: center;
}
.mybox{
    width: 200px;
    height: 200px;
    border: 2px solid;
    background-color: indianred;
    border-radius: 12px;
    padding: 10px;
    margin: 20px;
    
}
.mybox:hover{
    background-color: red;
}